<!DOCTYPE html>
<html>

	<head>
		<title>购物篮</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-fp.js"></script>
 
   
		 
		
      
       </head>

	   <body>
        
       <div class="top1"> 购物篮 <a href="index2.html" class="fhback"><img src="img/fhback.png"></a></div>
  
		<div class="row gwclistbox">
			<div class="col-xs-1">
				<input type="checkbox" name="inlinechk1" value="" style="margin-top:50px;">
			</div>
			<div class="col-xs-4">
				<img src="img/tu1.png" class="img-responsive">
			</div>
			<div class="col-xs-7">
				<div class="gwcprobt ">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格</div>
				
				<div class="gwcprosl">
					<span>¥</span><span class="gwcprojg">48.00</span>
					<a class="btn btn-default reduce">-</a>
					<input type="text"  class="count-input" value="0" placeholder="0">
					<a class="btn btn-danger  add">+</a>
				</div>
			</div>
		</div>
		
		<div class="row gwclistbox">
			<div class="col-xs-1">
				<input type="checkbox" name="inlinechk1" value="" style="margin-top:50px;">
			</div>
			<div class="col-xs-4">
				<img src="img/tu1.png" class="img-responsive">
			</div>
			<div class="col-xs-7">
				<div class="gwcprobt ">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格</div>
				
				<div class="gwcprosl">
					<span>¥</span><span class="gwcprojg">48.00</span>
					<a class="btn btn-default reduce">-</a>
					<input type="text"  class="count-input" value="0" placeholder="0">
					<a class="btn btn-danger  add">+</a>
				</div>
			</div>
		</div>
		</div>
		
	<div class="row hjbox">
      <div class="col-xs-4">
				<input type="checkbox" id="allchk" value="option1"  >全选/取消
				  

			</div>
			<div class="col-xs-4">合计：<span>¥</span><span class="total"></span></div>
			<div class="col-xs-4 text-right"> <a href="#" class="btn btn-pink"> 结算</a></div>
    </div>

 
   	
   	
 <div class="dbnav">
 <ul>
 <li><a href="index2.html"><span  class="icon1">首页</span></a></li>
 <li><a href="qbpro.html"><span class="icon2">分类</span></a></li>
 <li class="dqlm"><a href="gwc.html"><span  class="icon3">购物篮</span></a></li>
 <li><a href="grzx.html"><span  class="icon4">我的</span></a></li>
 </ul>
 </div>
   
  
  

	</body>

</html>