<!DOCTYPE html>
<html>

	<head>
		<title>欢迎界面</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.js"></script>
		<script src="js/bootstrap-fp.js"></script>
      
        </head>

	    <body>
        
        <div class="liubox">
        <div id="cloud1"><img src="img/iP6Plus/cloud-big.png" width="119" height="44"></div>
        <div id="cloud2"><img src="img/iP6Plus/cloud-small.png" width="61" height="25"></div>
        <div id="round"><img src="img/iP6Plus/round.png" ></div>
         <div id="txt1"><img src="img/iP6Plus/txt1.png" width="103" height="16"></div>
         <div id="txt2"><img src="img/iP6Plus/txt2.png" width="213" height="24"></div>
        <div id="txtbtn"><a href="index2.html"><img src="img/iP6Plus/strat-btn.png" width="124" height="33"></a></div>
			
		</div>

	</body>

</html>