<!DOCTYPE html>
<html>

	<head>
		<title>确认下单</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-fp.js"></script>

       </head>

	   <body style="position: relative;">
        
       <div class="top1"> 确认下单 <a href="index2.html" class="fhback"><img src="img/fhback.png"></a></div>
       
       	 <div class="row addlist" style="margin-bottom:0; padding-top: 20px; padding-bottom: 20px;"> 	
		 	<div class="col-xs-2"> <img src="img/dingicon.png" style="margin-top: 30px;"> </div>
		 	<div class="col-xs-10">
		 		<span class="lxdh" style="font-weight: normal;">收货人： 小龙                <span style="margin-left: 60px;"> 18257115008 </span></span><br />
		 		<span style="font-size: 14px; line-height: 22px;">浙江省杭州市西湖区三墩镇三墩镇振华路196号裕华大厦B座905室</span>
		 	</div>	
		 </div>
		 <div class="row" style=" background: url(img/xingbian.png) repeat-x; height:5px;"></div>
       
		<div class="row qrxdlist">
      	<div class="dpzt"><span class="fzicon"><img src="img/fangicon.png"></span><span class="dpmc">UNIQLO三墩分店</span> </div>
        <div class="cp">
        	<img src="img/tu1.png" class="imgsize">
        	<span class="bt">        		
            2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格
        	</span>
        	<span class="jgbox">
        		¥48.00 
        	<span class="xl">X1</span>
        	</span>
        </div>
         <div class="xzxl">        	
        	 <div class="gwcprosl">
					购买数量：
					<a class="btn btn-default reduce">-</a>
					<input type="text"  class="count-input" value="0" placeholder="0">
					<a class="btn btn-danger  add">+</a>
				</div>
        </div>
          <div class="psfs">        	
        	配送方式：<span>快递免邮</span>
        </div>

        <div class="hj">        	
        	共1件产品    小计：<span>¥48.00</span>
        </div>
        
         <div class="btmhj"  style=" bottom: 0; margin-bottom: 0; position: fixed;  right: 0;  left: 0;   z-index:1002;" >        	
        	合计：<span>¥48.00</span> <a href="#" class="btn btn-pink"> 提交订单 </a>
        </div>
   
  
  

	</body>

</html>