<!DOCTYPE html>
<html>

	<head>
		<title>商品列表</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.js"></script>
		<script src="js/bootstrap-fp.js"></script>
		 
      
       </head>

	   <body>
        
       <div class="top1"> 商品列表 <a href="#"  onclick="javascript:history.back(-1)" class="fhback"><img src="img/fhback.png"></a></div>
       <div class="schbox1"><span class="ssjg">搜索结果：<b>12个</b></span><a href="#" class="active1">价格<span class="caret"></span></a><a href="#">信誉<span class="caret"></span></a><a href="#">距离<span class="caret"></span></a></div>
        	
         
   
   <!--
   	作者：32570732@qq.com
   	时间：2016-10-26
   	描述：1
   -->
   <div class="row">
   	
   	<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<img src="img/tu1.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
   	
   	
   	<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<img src="img/tu2.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
   	
   	 
   	</div>
   	
   	<!--
   	作者：32570732@qq.com
   	时间：2016-10-26
   	描述：2
   -->
   <div class="row">
   	
   	<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<img src="img/tu1.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
   	
   	
   	<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<img src="img/tu2.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
   	
    
   	
   	</div>
   	
   	
 <div  class="dbnav">
 <ul >
 <li ><a href="index2.html"><span  class="icon1">首页</span></a></li>
 <li><a href="qbpro.html"><span   class="icon2">分类</span></a></li>
 <li><a href="gwc.html"><span  class="icon3">购物篮</span></a></li>
 <li><a href="grzx.html"><span  class="icon4">我的</span></a></li>
 </ul>
 </div>
   
   
  
  

	</body>

</html>