<!DOCTYPE html>
<html>

	<head>
		<title>撩货</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-fp.js"></script>
	</head>

	<body style="position: relative;">

		<div class="top1"> 撩货
			<a href="index2.html" class="fhback"><img src="img/fhback.png"></a>
			<a href="#" class="spzy-fx"><img src="img/topfxicon.png" style="margin-right: 5px;">分享</a>
		</div>
		 <div class="spzy-tx">
       <img src="img/grzxtx.png" class="img-circle img-responsive">
       </div>
		<div class="row spzybnr">
			<img src="img/spzybnr.png">
		</div>
		<div class="spzy-spmc">沐乃衣快时尚潮流女</div>
   	    <div class="spzy-spxy">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></div>

		<div class="row kfclbox">
			<span class="dbjyicon">担保交易</span><span class="qtthicon">七天退货</span><span class="xxtyicon">线下体验</span>
		</div>
		<div class="spzy-hd">
			<span class="bt">商铺优惠：</span><span class="yh">满300送50</span><span  class="yh">满88送10</span>
		</div>
		
		<div class="row">
			
				<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<a href="Product details.html">
   			<img src="img/tu1.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   			</a>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
   	
   	
   	<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<img src="img/tu2.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
   		<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<a href="Product details.html">
   			<img src="img/tu1.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   			</a>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
   	
   	
   	<div class="col-xs-6 cpzs"> 
   		<div class="probox1 text-center">
   			<img src="img/tu2.png" class="img1">
   			<div class="xyjl">
   				<span class="xybox pull-left">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
   				<span class="jlbox pull-right"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   			</div>
   	    </div>
   	    
   		<div class="probt text-center" style="clear: both;">2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格  </div>
   		<div class="projg text-center"> ¥ 48.00  </div>
   	</div>
			
		</div>
	
		
		<div class="row spzybtmbox">
			<div class="col-xs-6"><a href="#"  class="btn-lxsp" >联系商铺</a><a href="pcsc.html" class="btn-hongx"> 收藏 </a></div>
			<div class="col-xs-3" style="padding-left:2px; padding-right:2px;"><a href="gwc2.html" class="btn btn-lg btn-jrgrc" > 上新</a></div>			
			<div class="col-xs-3" style="padding-left:2px; padding-right:2px;"><a href="#"  class="btn btn-lg  btn-ljgm" >活动</a></div>	
		</div>
  		
  			
 
		
			 
	 
	</body>

</html>