<!DOCTYPE html>
<html>

	<head>
		<title>商铺列表</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.js"></script>
		<script src="js/bootstrap-fp.js"></script>
		 
      
       </head>

	   <body>
        
       <div class="top1"> 商铺列表 <a href="#"  onclick="javascript:history.back(-1)" class="fhback"><img src="img/fhback.png"></a></div>
       <div class="schbox1"><span class="ssjg">搜索结果：<b>89个商铺</b></span><a href="#">信誉<span class="caret"></span></a><a href="#">距离<span class="caret"></span></a></div>
        	
         
   
 
    <div class="row shoplist">
   	<img src="img/sptu.png" class="imgsize">
   	<span class="spmc">UNIQLO三墩分店</span>
   	<span class="spxy">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
    <span class="spdz">杭州西湖区三墩镇灯彩街89号门店</span>
   	<span class="spsjh"><img src="img/sjhicon.png">18268789999</span>
   	<span class="jlbox"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   	</div>
   	
   	
   	<div class="row shoplist">
   	<img src="img/sptu.png" class="imgsize">
   	<span class="spmc">UNIQLO三墩分店</span>
   	<span class="spxy">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
    <span class="spdz">杭州西湖区三墩镇灯彩街89号门店</span>
   	<span class="spsjh"><img src="img/sjhicon.png">18268789999</span>
   	<span class="jlbox"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   	</div>
   	
   	<div class="row shoplist">
   	<img src="img/sptu.png" class="imgsize">
   	<span class="spmc">UNIQLO三墩分店</span>
   	<span class="spxy">信誉：<img src="img/mjicon1.png"><img src="img/mjicon1.png"><img src="img/mjicon2.png"></span>
    <span class="spdz">杭州西湖区三墩镇灯彩街89号门店</span>
   	<span class="spsjh"><img src="img/sjhicon.png">18268789999</span>
   	<span class="jlbox"><img src="img/jlicon1.png">&nbsp;0.58km</span>
   	</div>
   	
   	
 <div  class="dbnav">
 <ul >
 <li ><a href="index2.html"><span  class="icon1">首页</span></a></li>
 <li><a href="qbpro.html"><span   class="icon2">分类</span></a></li>
 <li><a href="gwc.html"><span  class="icon3">购物篮</span></a></li>
 <li><a href="grzx.html"><span  class="icon4">我的</span></a></li>
 </ul>
 </div>
 
 
</body>

</html>