<!DOCTYPE html>
<html>

	<head>
		<title>商品评价</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-fp.js"></script>
	 
		 
      
       </head>

	   <body>
        
      <div class="top1"> 商品评价 <a href="index2.html" class="fhback"><img src="img/fhback.png"></a></div>
      <div class="row sppjlist">   	
        <div class="probox">
        	<img src="img/xqzhutu.png" class="imgsize">	
        	<span class="bt">        		
           2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格
           </span>
            <span class="cpsx">        		
                                  颜色：灰色       尺码：建议90-140斤
        	</span>
        	<span class="jgxl">
        		¥48.00
        	<span class="xl">X1</span>
        	</span>	
        </div>
        
      </div>
      
      <div class="row xgpjbox">
      	  <div class="sppj">
	                    商品评价：<img src="img/mjicon1.png">
           <img src="img/mjicon1.png">
           <img src="img/mjicon1.png">
           <span class="fens">3分</span>
           </div>
           <div class="sppj">
	                  服务评价：<img src="img/mjicon1.png">
           <img src="img/mjicon1.png">
           <img src="img/mjicon1.png">
           	<span class="fens">3分</span>
           </div>
           <div class="sctp">
           
	                  <span class="sqzd">上传：</span>
          <span class="tupj"><span class="clsbtn"></span><img src="img/tu1.png"></span>
	                  <span class="tupj"><span class="clsbtn"></span><img src="img/tu2.png"></span>

	                  <a href="#"><img src="img/uploadimg.png"></a>
           
           </div>
           <div class="gjzxz">
           
	                 关健字：	<span class="clr1">骨感 </span>
                   	<span class="clr2">纤纤细腰 </span>
                   	<span class="clr3">卡娃伊 </span>
                   	<span class="clr4">呆盟  </span>
                   	<span class="clr5">靓骚  </span>
           
           </div>
            <div class="sppjnr">
           
	                 <label> 评价: </label><textarea class="form-control" rows="3"></textarea>
           
           </div>
           <div class="btn btn-lg btn-pink xgpjbtn" >提 交</div>
          
      </div>
      

	 <div class="dbnav">
	 <ul>
	 <li><a href="index2.html"><span  class="icon1">首页</span></a></li>
	 <li><a href="qbpro.html"><span class="icon2">分类</span></a></li>
	 <li><a href="gwc2.html"><span  class="icon3">购物篮</span></a></li>
	 <li class="dqlm"><a href="grzx.html"><span  class="icon4">我的</span></a></li>
	 </ul>
	 </div>
   
  
  

	</body>

</html>