<!DOCTYPE html>
<html>

	<head>
		<title>商铺收藏</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-fp.js"></script>
	 
		 
      
       </head>

	   <body>
        
      <div class="top1"> 商铺收藏 <a href="index2.html" class="fhback"><img src="img/fhback.png"></a></div>
      
       

      
      <div class="row spsclist"> 
        <div class="spxq">
        	<img src="img/tu1.png" class="imgsize img-circle img-responsive">
        	<span class="bt">沐乃衣快时尚潮流女</span>
            <span class="spxy">
            	信誉：
            	<img src="img/mjicon1.png">
            	<img src="img/mjicon1.png">
            	<img src="img/mjicon2.png">
        	</span>	
        </div> 
        <div class="spimg">
        	<a href="#"><img src="img/tu1.png"> </a>
        	<a href="#"><img src="img/tu3.png"> </a>
        	<a href="#"> <img src="img/tu1.png"> </a>
        </div>
     </div>
     
     
        <div class="row spsclist"> 
        <div class="spxq">
        	<img src="img/tu1.png" class="imgsize img-circle img-responsive">
        	<span class="bt">沐乃衣快时尚潮流女</span>
            <span class="spxy">
            	信誉：
            	<img src="img/mjicon1.png">
            	<img src="img/mjicon1.png">
            	<img src="img/mjicon2.png">
        	</span>	
        </div> 
        <div class="spimg">
        	<a href="#"><img src="img/tu1.png"> </a>
        	<a href="#"><img src="img/tu3.png"> </a>
        	<a href="#"> <img src="img/tu1.png"> </a>
        </div>
     </div>
     
     
 
      
      

      
      

	 <div class="dbnav">
	 <ul>
	 <li><a href="index2.html"><span  class="icon1">首页</span></a></li>
	 <li><a href="qbpro.html"><span class="icon2">分类</span></a></li>
	 <li><a href="gwc2.html"><span  class="icon3">购物篮</span></a></li>
	 <li class="dqlm"><a href="grzx.html"><span  class="icon4">我的</span></a></li>
	 </ul>
	 </div>
   
  
  

	</body>

</html>