<!DOCTYPE html>
<html>

	<head>
		<title>我撩的货</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link href="css/bootstrap-pf.css" rel="stylesheet" media="screen">
		<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
		<script src="js/bootstrap-fp.js"></script>
	 
		 
      
       </head>

	   <body>
        
      <div class="top1"> 我撩的货 <a href="index2.html" class="fhback"><img src="img/fhback.png"></a></div>
      
       
	  <div class="row ddnav">
	   	<ul><li><a href="wldh.html">全部</a></li><li><a href="wldh1.html">待付款</a></li><li><a href="wldh2.html">待发货</a></li><li><a href="wldh3.html">待收货</a></li><li><a href="wldh4.html">待评价</a></li></ul>
	   	<div class="linebg"></div>
      </div>
      
      <div class="row lhlist">
      	<div class="dpzt"><span class="fzicon"><img src="img/fangicon.png"></span><span class="dpmc">UNIQLO三墩分店</span> <span class="jyzt">交易成功</span></div>
        <div class="cp">
        	<img src="img/tu1.png" class="imgsize">
        	<span class="bt">        		
            2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格
            <span class="cpsx">        		
                                    颜色：灰色  尺码：建议90-140斤
        	</span>
        	</span>
        	<span class="jgxl">
        		¥48.00<br />
        		<span class="xl">X1</span>
        	</span>
        </div>
        <div class="xj">        	
        	共1件产品    小计：<span>¥48.00</span>
        </div>
        
        <div class="qbbtn">        	
        	<a href="#" class="btn btn-default">删除订单</a> <a href="sppj.html" class="btn btn-pink">评价</a>
        </div>
        
        
      </div>

      <div class="row lhlist">
      	<div class="dpzt"><span class="fzicon"><img src="img/fangicon.png"></span><span class="dpmc">UNIQLO三墩分店</span> <span class="jyzt">关闭交易</span></div>
        <div class="cp">
        	<img src="img/tu1.png" class="imgsize">
        	<span class="bt">        		
            2016秋冬季潮流新品包臀套头针织连衣裙长袖打底女装价格
            <span class="cpsx">        		
                                    颜色：灰色  尺码：建议90-140斤
        	</span>
        	</span>
        	<span class="jgxl">
        		¥48.00<br />
        		<span class="xl">X1</span>
        	</span>
        </div>
        <div class="xj">        	
        	共1件产品    小计：<span>¥48.00</span>
        </div>
        
        <div class="qbbtn">        	
        	<a href="#" class="btn btn-default">删除订单</a> 
        </div>
        
        
      </div>
      

	 <div class="dbnav">
	 <ul>
	 <li><a href="index2.html"><span  class="icon1">首页</span></a></li>
	 <li><a href="qbpro.html"><span class="icon2">分类</span></a></li>
	 <li><a href="gwc2.html"><span  class="icon3">购物篮</span></a></li>
	 <li class="dqlm"><a href="grzx.html"><span  class="icon4">我的</span></a></li>
	 </ul>
	 </div>
   
  
  

	</body>

</html>